<template>
  <div class="videos">
    <div v-for="{ id, src, name, description } in videos" :key="id">
      <h2>{{ name }}</h2>

      <ol>
        <li v-for="d in description" :key="d" v-text="d" />
      </ol>

      <video controls>
        <source :src="`https://jaysaurus.gitlab.io/accursed-tech-demos/${src}`" type="video/mp4" />
      </video>
      <hr>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      videos: [
        {
          id: 1,
          name: "Tech demo with legacy possession mechanics",
          description: [
            "Player is a Ghoul that can possess creatures",
            "The Ghoul is fundamentally limited in what it can and can't do",
            "in this scene the Ghoul possesseses a rat",
            "Rat is then able to travel through holes in the landscape and push switches",
          ],
          src: "earlyTechDemo.mp4",
        },
        {
          id: 2,
          name: "Tech demo with updated possession mechanics (unfinished)",
          description: [
            "Ghoul now casts a spell to create a circle of possession",
            "The ghoul will be able to pick from any creatures in the circle to transfer over",
            "The new possession stuff is currently being written",
            "(I'm mostly doing the graphics work for the possession at the moment, my friend is sharing some of the coding workload)",
          ],
          src: "earlyPossessionMechanics.mp4",
        },
        {
          id: 3,
          name: "Possession Spell Animation update",
          description: [
            "generate lightning and spin the offset of each spark when not visible to create illusion of sparks flying off every which-way",
            "overlay glowing eyesockets (and cycle alpha to create glow)",
            "overlay glowing border animation (and cycle alpha to create glow)",
            "Bring the ghoul right to the front of the sorting order to help it stand out (and to stop the lightning bolts appearing in front of it",
            "(More work to follow to incorporate possessable creatures within the spell circle)"
          ],
          src: "PossessionLightning.mp4",
        },
        { 
          id: 4,
          name: "Possession Spell Frame Updates",
          description: [
          	"while spell is running, all concerned assets are brought to front-of screen (stops stuff getting lost behind the scenery)",
          	"rat now has possession behaviour and various pieces of logic involved to manage frame timings and behaviour locking",
          	"when a creature is possessed it should glow red to cue the player should there be any ambiguity"
          ],
          src: "AdvancingPossessionMechanics.mp4"
        },
        {
          id: 5,
          name: "Ghoul Imprisonment & Laser",
          description: [
            "Shaders are applied to line renderers to create the illusion of a shackle (from the ghoul to the amulet) and a laser (from the ghoul to a possessed creature)",
            "The ghoul is 'tethered' to the amulet (this is done using an invisible ring collider"
          ],
          src: "ghoulImprisoned.mp4"
        },
        {
          id: 6,
          name: "Gorilla Bug",
          description: [
            "new basic animations for Bug Gorilla",
            "Bug Gorilla occassionally rocks head at random intervals to give a sense of being a living beasty (you'll see this near the end of the vid)"
          ],
          src: "Bugorilla.mp4"
        }
      ],
    };
  },
};
</script>

<style>
.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
